header{
  
}


header h1{
  font-size: 10px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}




  
  
  
  
  
  
  
  
  
  
  
  
  


body {
   
    text-align: center;
    background: whitesmoke;
    
    
}
  
  

 
  
body h1{
 text-align: center;
 font-family: fantasy;
 color: black;
 font-size: 2.3rem;
}

body h2{
  text-align: center;
  font-size: 2.3rem;
  
  
}


body h2 button{
  background: olive;
  font-size: 40px;
  
  
}



 table{
  width: 75%;
  border-collapse: collapse;
  margin: auto;
 
}



  table, th, td{
  border: solid;
  color: black;
  background: white;
  font-size: 35px;
  
}


  table, th{
   background: forestgreen;
   
 }
 
 img{
   width: 20%;
   padding: 4px;
 }
 
 
 .menu ul a{
   background: wheat;
   color: black;
   margin: 2px;
   text-decoration: none;
   border: 2px solid black;
   border-radius: 20%;
   background: silver;
   
   
 }
 
 
 
 
 
 /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; 
  
  top: 0; 
  width: 
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: right;
  
  
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: yellow;
  color: black;
}

.navbar ul a{
  
  margin: 10px;
  
}




footer{
  font-family: cursive;
  font-size: 2.5rem;
}



#demo{
  font-size: 5.5rem;
  display: block;
  font-family: fantasy;
  
}

#dem{
  font-size: 300%;
  display: block;
  color: blue;
  font-family: cursive;
  font-weight: 700;
  font-size-adjust: 30px;
 
}


